.accordion
	position: absolute
	border-radius: 0.88rem
	background: $white
	&.active
		.accordion__body
			width: auto
			height: auto
		.accordion__icon
			transform: rotate(45deg)
		.accordion__header
			position: absolute
			top: 0
			left: 0
	&--1
		top: 13rem
		left: 0
	&--2
		top: 17rem
		left: 34rem
	&--3
		top: 0
		left: 23rem
	&--4
		top: 26rem
		left: 59rem
	&--5
		top: 20rem
		left: 74rem
	&__header
		display: flex
		align-items: center
		height: 2.13rem
		padding: 0.31rem 1.25rem 0.44rem 0.56rem
		cursor: pointer
		z-index: 10
	&__icon
		margin-right: 0.63rem
		width: 1.50rem
		height: 1.50rem
	&__title
		font-weight: bold
		font-size: 0.75rem

		font-family: 'TT Travels Next', sans-serif
	&__body
		position: relative
		width: 0
		height: 0
		overflow: hidden
	&__inner
		padding: 2.13rem 1.19rem 1rem 2.5rem
		width: 19.38rem
		font-size: 0.88rem
		line-height: 1.13rem
