.benefit
	&__title
		width: 29.56rem

	&__subtitle
		margin-top: 0.93rem
		width: 31.56rem
	&__icon
		// display: none
		// width: 14.13rem
		// top: -3.3rem
		// right: -8rem
	&__body
		padding-right: 10.19rem
	&__bg
		height: 100%
		width: 100%
		position: absolute
		display: flex
		align-items: flex-start
		justify-content: flex-start
		
		pointer-events: none
	&__img
		position: absolute
		&--1
			bottom: 10.55rem
			left: -8rem
			width: 99.69rem
			height: 16.38rem
		&--2
			bottom: 3.6rem
			left: 98.14rem
			width: 44.50rem
			height: 39.31rem
	&__lottie
		position: absolute
		&--1
			top: -1.1rem
			left: 29rem
			z-index: 10
			width: 7.56rem
			transform: rotate(25deg)
			height: 7.44rem
		&--2
			bottom: 8.3rem
			left: 126.74rem
			z-index: 10
			width: 4.94rem
			height: 6.31rem
		&--3
			bottom: 6.3rem
			left: 97.04rem
			z-index: -1
			width: 44.50rem
			height: 39.31rem

	&__items
		position: relative
		padding-bottom: 2.50rem
		display: flex
		align-items: flex-end
		height: 100%
	&__item
		&--1
			margin-bottom: 2.3rem
			width: 15.2rem
			.benefit__item-title
				width: 13rem
		&--2
			margin-bottom: 2.3rem
			margin-left: 5.43rem
			width: 15.00rem
		&--3
			margin-bottom: -0.3rem
			margin-left: 5.63rem
			width: 15.4rem
			.benefit__item-title
				width: 9rem
		&--4
			margin-bottom: 3.6rem
			margin-left: 5.23rem
			width: 15.00rem
		&--5
			margin-bottom: 2.3rem
			margin-left: 5.63rem
			width: 15.00rem
		&--6
			margin-bottom: 40.3rem
			margin-left: 15.38rem
			width: 16.93rem
			.benefit__text
				text-align: center
				color: #7D7D7D
				font-size: 0.63rem
				line-height: 0.81rem
				font-weight: 500
				font-family: 'TT Travels Next', sans-serif
				text-transform: uppercase
				letter-spacing: 0.05em
	&__item-title
		font-weight: bold
		
		font-family: 'TT Travels Next', sans-serif
	&__text
		margin-top: 0.5rem
		line-height: 1.31rem
		font-size: 0.88rem
	&__find
		margin-left: 17.18rem
		margin-bottom: 16.8rem
		width: 34.69rem
		.section__find-btn
			width: 33.81rem
			font-size: 1.38rem
		.section__find-btn 
			span
				margin: 0 1.4rem
		.section__find-btn-icon
			bottom: 0.19rem
			left: 10.91rem
	&__logo
		position: absolute
		left: 147.2rem
		bottom: 9.4rem
	&__socials
		position: absolute
		bottom: 1.4rem
		left: 113.5rem
		width: 16.00rem
		height: 7.13rem
		z-index: 100
		&.active
			.benefit__social
				opacity: 1
				pointer-events: auto
	&__social-btn
		position: absolute
		width: 6.31rem
		height: 5.63rem
		top: -1.8rem
		left: 4.6rem
		cursor: pointer

	&__social
		position: absolute
		cursor: pointer
		opacity: 0
		transition: all .2s ease-out
		pointer-events: none
		img
			position: absolute
			bottom: 0
			left: 0
		&--link
			top: 0rem
			left: 0rem
			width: 2.88rem
			height: 3.19rem
		&--tw
			top: 2.7rem
			left: 2.2rem
			width: 2.94rem
			height: 3.31rem
			transition-delay: 20ms
		&--tg
			top: 4.1rem
			left: 6.1rem
			width: 3.38rem
			height: 2.94rem
			transition-delay: 40ms
		&--fb
			top: 3.3rem
			left: 10.2rem
			width: 2.88rem
			height: 2.88rem
			transition-delay: 60ms
		&--vk
			top: 0.6rem
			left: 13rem
			width: 3.00rem
			height: 3.13rem
			transition-delay: 80ms

@media screen and ( max-width: 767px )
	.benefit
		&__title
			width: 100%
			span
				display: inline
		&__header
			width: 100%
		&__icon
			display: block
			width: 16.31rem
			height: 14.31rem
			top: 15.35rem
			left: -1.1rem
		&__body
			margin-top: 13.98rem
			padding-right: unset
			padding-bottom: 0.4rem
		&__subtitle
			margin-top: auto
			width: 17.38rem
		&__bg
		&__img
			&--1
				bottom: unset
				top: -15.2rem
				left: -4.4rem
				width: 24.75rem
				height: 98.63rem
				img
					position: absolute
					top: 0
					left: 0
			&--2
				bottom: unset
				top: 94rem
				left: -1.4rem
				width: 23.38rem
				height: 19.38rem
		&__items
			padding-bottom: 0
			flex-direction: column
			align-items: flex-start
		&__item-title
			display: none
		&__text
			margin-top: 0
			font-size: 1rem
			line-height: 1.31rem
		&__item
			position: relative
			margin-left: 0
			margin-bottom: 0
			&--1
				height: 6.56rem
			&--2
				margin-top: 13.9rem
				width: 16rem
				height: 5.25rem
			&--3
				margin-top: 12.2rem
				margin-left: 3.7rem
				width: 16.3rem
				height: 9.19rem
			&--4
				margin-top: 12.9rem
				width: 17rem
				height: 3.94rem
			&--5
				margin-top: 12.8rem
				margin-left: 3.7rem
				width: 14.8rem
				height: 6.56rem
			&--6
				margin-top: 5.9rem
				margin-left: 2rem
				width: 16.83rem
				height: 2.44rem
		&__find
			margin-top: 3rem
			margin-left: 0
			margin-bottom: 0
			width: 100%
			.section__find-btn
				margin-top: 1.69rem
				width: 20.38rem
				height: 3.13rem
				font-size: 0.88rem
				border-radius: 0.75rem
				span
					margin: 0 0.7rem
			.section__find-btn-icon
				width: 4.56rem
				height: 5.06rem
				left: 5.91rem
				bottom: 0.49rem
		&__logo
			position: static
			margin-top: 6.7rem
			margin-left: 0.5rem
			width: 19.7rem
		&__stories
			position: absolute
			z-index: 0
			left: -1.81rem
			bottom: -4.79rem
		&__lottie
			&--1
				width: 9.31rem
				height: 8.31rem
				top: 17.25rem
				left: 2.3rem
			&--3
				width: 23.38rem
				height: 19.38rem
				top: 94rem
				left: -1.4rem
			&--2
				width: 4.31rem
				height: 4.31rem
				top: 108.2rem
				left: 13.4rem
		&__socials
			margin: 20.3rem auto 0
			position: relative
			bottom: unset
			left: unset
			width: 16.00rem
			height: 7.13rem
			z-index: 100
		&__social-btn
			width: 5.25rem
			height: 4.75rem
			top: -1rem
			left: 5.6rem
			cursor: unset
		&__social
			position: absolute
			img
				position: absolute
				bottom: 0
				left: 0
			&--link
				top: 0rem
				left: 0rem
				width: 2.88rem
				height: 3.19rem
			&--tw
				top: 2.7rem
				left: 2.2rem
				width: 2.94rem
				height: 3.31rem
			&--tg
				top: 4.1rem
				left: 6.1rem
				width: 3.38rem
				height: 2.94rem
			&--fb
				top: 3.3rem
				left: 10.2rem
				width: 2.88rem
				height: 2.88rem
			&--vk
				top: 0.6rem
				left: 13rem
				width: 3.00rem
				height: 3.13rem