.cover
	min-width: auto
	width: 200vw
	.container
		width: calc(100vw - 16.50rem)
	&--stage-0
		.cover__title
			opacity: 1
		.cover__text
		.cover__body
			transform: translate(0, 50%)
		.cover__wrap
			opacity: 0
		.cover__label--bottom
			opacity: 0
		.cover__row-path--top
			transform: translateY(100%)
		.cover__icon--top
			img
				transform: translateY(100%)
	&--stage-1
		.cover__label--bottom
			
			transition: opacity ease 1s
		.cover__wrap
			
			transition: opacity ease 1s
		.cover__body
			
			transition: transform ease 1s
		.cover__title
			opacity: 1
		.cover__text
			opacity: 0.4
		.cover__row-path--top
			transform: translateY(0)
		.cover__row-path--bottom
			transform: translateY(100%)
		.cover__icon--top
			img
				transform: translateY(0)
		.cover__icon--bottom
			img
				transform: translateY(100%)
	&--stage-2
		.cover__title
			opacity: 0.4
		.cover__text
			opacity: 1
		.cover__row-path--top
			transform: translateY(-100%)
		.cover__row-path--bottom
			transform: translateY(0)
		.cover__icon--top
			img
				transform: translateY(-100%)
		.cover__icon--bottom
			img
				transform: translateY(0)
		.cover__label--top
			width: 12.38rem
		
		.cover__label-path--top
			transform: translateY(-100%)
		.cover__label-path--bottom
			transform: translateY(0)
	&__inner
		width: 100%
		padding: 2.4rem 0 0 7.23rem
		display: flex
		flex-direction: column
	&__logo
		margin-top: 11.5rem
		margin-left: 0.8rem
		height: 2.13rem
		width: 19.75rem
	&__label
		width: 13.38rem
		height: 2.50rem
		border-radius: 0.88rem
		text-transform: uppercase
		font-size: 0.75rem
		line-height: 1.06rem
		font-family: 'TT Travels Next', sans-serif
		font-weight: bold
		background: $yellow
		display: flex
		align-items: center
		justify-content: center
		
		transition: all ease 0.5s
		&--top
			margin-left: 0.5rem
		&--bottom
			position: absolute
			z-index: 100
			width: 13.88rem
			height: 13.88rem
			border-radius: 50%
			right: 3.8rem
			bottom: -13.4rem
			font-size: 0.94rem
			line-height: 1.31rem
			font-weight: bold
			animation: 3s infinite ease up-down
			.cover__label-row
				height: 30%
			.cover__label-path
				padding: 0 2.38rem
	&__label-icon
		position: absolute
		left: 50%
		transform: translate(-50%)
		bottom: 1.1rem
		width: 1.65rem
	&__label-row
		position: relative
		width: 100%
		height: 0.86rem
		display: flex
		align-items: center
		justify-content: center
		overflow: hidden
	&__label-path
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		display: flex
		align-items: center
		justify-content: center
		text-align: center
		transition: all ease 0.5s
		&--bottom
			transform: translateY(100%)
			
	&__title
		margin-top: 1.1rem
		// width: 48.94rem
		font-size: 4.50rem
		line-height: 4.75rem
		text-transform: uppercase

		transition: all ease 0.5s
	&__wrap
		margin-top: -0.3rem
		position: relative
	&__body
		position: relative
		width: 100%
		height: 33.25rem
	&__text
		font-family: 'TT Travels Next', sans-serif
		font-weight: 500
		color: $dark-purple
		font-size: 4.50rem
		line-height: 4.75rem
		text-transform: uppercase

		opacity: 0.4
		transition: all ease 0.5s
	&__icons
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 10
	&__icon-row
		position: relative
		height: 4.75rem

		&:nth-child(1)
			.cover__icon
				img
					transition-delay: 0.1s
		&:nth-child(2)
			.cover__icon
				img
					transition-delay: 0.2s
		&:nth-child(3)
			.cover__icon
				img
					transition-delay: 0.3s
		&:nth-child(4)
			.cover__icon
				img
					transition-delay: 0.4s
		&:nth-child(5)
			.cover__icon
				img
					transition-delay: 0.5s
		&:nth-child(6)
			.cover__icon
				img
					transition-delay: 0.6s
	&__icon
		position: absolute
		overflow: hidden
		img

			transition: all ease 0.5s
		&--top
			img
		&--bottom
			img
				transform: translateY(100%)
		&--1
			top: -0.4rem
			left: -0.5rem
			width: 5.31rem
		&--2
			top: -0.3rem
			left: 31.4rem
			width: 5.13rem
		&--3
			top: -0.2rem
			left: -0.4rem
			width: 5.38rem
		&--4
			top: -0.7rem
			left: 49.3rem
			width: 6.88rem
		&--5
			top: -0.7rem
			left: -1rem
			width: 6.31rem
		&--6
			top: -0.3rem
			left: 31.4rem
			width: 5.69rem
	&__row
		// margin-bottom: -0.3rem
		position: relative
		height: 4.75rem
		overflow: hidden
		&:nth-child(1)
			.cover__row-path
				transition-delay: 0.1s
			span
				margin: 0 2.5rem
		&:nth-child(2)
			.cover__row-path
				transition-delay: 0.2s
		&:nth-child(3)
			.cover__row-path
				transition-delay: 0.3s
			span
				margin: 0 2.5rem
		&:nth-child(4)
			.cover__row-path
				transition-delay: 0.4s
		&:nth-child(5)
			.cover__row-path
				transition-delay: 0.5s
			span
				margin: 0 2.9rem
		&:nth-child(6)
			.cover__row-path
				transition-delay: 0.6s
	&__row-path
		position: absolute
		height: 5.5rem
		top: 0
		left: 0
		transition: all ease 0.5s
		&--bottom
			transform: translateY(100%)
@keyframes up-down
	0% 
		transform: translateY(1rem)
	50% 
		transform: translateY(-1rem)
	100%
		transform: translateY(1rem)
@media screen and ( max-width: 767px )
	.cover
		width: 100%
		&__inner
			padding: 5rem 1.25rem 0
			width: 100%
		&__title
			margin-top: 5rem
			
			line-height: 2rem
			font-size: 2rem
			width: 100%
		&__text
			width: 100%
		&__text
			font-size: 1.45rem
			line-height: 1.4rem
		&__row
			height: 1.4rem
		&__icon-row
			height: 1.4rem