.header
   position: fixed
   left: 0
   top: 0
   height: 100%
   z-index: 100
   &__spine
      border-left: none !important
      border-right: 0.06rem solid $beige
   &__title
      transform: rotate(-90deg) !important
