.spines
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 100
	pointer-events: none
.spine
	position: absolute
	top: 0
	left: 0
	width: 4rem
	height: 100%
	z-index: 100
	padding: 2.5rem 1.25rem
	display: flex
	align-items: center
	flex-direction: column
	justify-content: space-between
	background: $bg
	pointer-events: none
	border-left: 0.06rem solid $beige
	font-family: 'TT Travels Next', sans-serif
	font-weight: 500
	&[data-spine-section='1']
		&.init
			left: calc(100vw - (4rem * 4))
		&.fixed
			left: calc(4rem*1)

			border-left: none
	&[data-spine-section='2']
		&.init
			left: calc(100vw - (4rem * 3))
		&.fixed
			left: calc(4rem*2)
	&[data-spine-section='3']
		&.init
			left: calc(100vw - (4rem * 2))
		&.fixed
			left: calc(4rem*3)
	&[data-spine-section='4']
		&.init
			left: calc(100vw - (4rem * 1))
		&.fixed
			left: calc(4rem*4)

	&__title
		position: relative
		white-space: nowrap
		transform: rotate(-90deg) translate(-50%)
		text-transform: uppercase
		font-size: 0.75rem
		line-height: 1.06rem
		text-align: right
		color: #837C6D
	&__number
		text-transform: uppercase
		font-size: 0.75rem
		line-height: 1.06rem
		color: #9A9281