.test
	&__title
		width: 36.56rem

	&__subtitle
		margin-top: 0.83rem
		width: 33.16rem
	&__body
		padding-right: 17.19rem
	&__bg
		height: 100%
		width: 100%
		position: absolute
		display: flex
		align-items: flex-start
		justify-content: flex-start
		
		pointer-events: none
	&__img
		position: absolute
		bottom: -0.7rem
		left: -4.7rem
		width: 251.81rem
		height: 46.19rem
		z-index: -1
	&__lottie
		position: absolute
		&--1
			bottom: 13.1rem
			left: 0rem
			z-index: 10
			width: 10.88rem
			height: 12.69rem
		&--2
			bottom: 3.7rem
			left: 100rem
			z-index: 10
			width: 24.06rem
			height: 11.25rem
		&--3
			bottom: 2.5rem
			right: 6.19rem
			z-index: 10
			width: 8.31rem
			height: 9.94rem

	&__items
		padding-bottom: 4.2rem
		display: flex
		align-items: flex-end
		height: 100%
	&__item
		&--1
			margin-bottom: -0.3rem
			margin-left: 1.7rem
			width: 19.56rem
		&--2
			
			margin-bottom: -0.3rem
			margin-left: 3.13rem
			width: 19.38rem
		&--3
			margin-bottom: 3.5rem
			margin-left: 4.88rem
			width: 19.38rem
		&--4
			margin-bottom: 3.4rem
			margin-left: 11.56rem
			width: 23.63rem
		&--5
			margin-left: 22.26rem
			margin-bottom: 31.4rem
			width: 19.38rem

	&__item-title
		font-weight: bold
		
		font-family: 'TT Travels Next', sans-serif
	&__text
		margin-top: 0.3rem
		line-height: 1.31rem
	&__hover
		&::after
			display: none
		span
			position: relative
			&::after
				position: absolute
				content: ''
				left: 0
				bottom: -0.06rem
				width: calc(100% - 0.16rem)
				height: 0
				border-bottom: 0.06rem dashed rgba(120, 92, 186, 0.3)
	&__accordions
		margin-bottom: 11.13rem
		margin-left: 2rem
		position: relative
		width: 93.31rem
		height: 27.94rem
	&__find
		margin-left: 9.2rem
		margin-bottom: 13.5rem
		width: 23.88rem
	&__icon
		display: none

@media screen and ( max-width: 767px )
	.test
		&__title
			width: 100%
			span
				display: inline
		&__header
			width: 100%
		&__icon
			display: block
			width: 9.94rem
			height: 8.81rem
			top: 6.75rem
			left: 12.50rem
		&__body
			margin-top: 3.98rem
			padding-right: unset
			padding-bottom: 13.13rem
		&__subtitle
			margin-top: auto
			width: 17.38rem
		&__bg
			z-index: 0
			pointer-events: none
		&__img
			top: 10rem
			left: -1.7rem
			width: 27.81rem
			height: 110.81rem
		&__items
			padding-bottom: 0
			flex-direction: column
			align-items: flex-start
		&__item
			margin-left: 0
			margin-bottom: 0
			&--2
				margin-top: 23.6rem
			&--3
				margin-top: 2.8rem
			&--4
				margin-top: 45.4rem
				width: 16.63rem
				p+p
					margin-top: 0.6rem
			&--5
				margin-top: 21.3rem
				width: 18.38rem
		&__accordions
			margin-top: 2.1rem
			margin-left: 0
			margin-bottom: 0
			width: 100%
			height: auto
		&__find
			margin-top: 6.4rem
			margin-left: 0
			margin-bottom: 0
			width: 100%
		&__lottie
			display: block
			&--1
				top: 16.9rem
				left: 1.4rem
				width: 10.88rem
				height: 12.69rem
			&--2
				top: 109.5rem
				left: -2.7rem
				width: 19.66rem
				height: 9.95rem

			
			&--3
				bottom: -1rem
				right: 0.19rem
				top: unset
				width: 8.31rem
				height: 9.94rem