$beige: #BBA67B
$bg: #F8F1E6
$yellow: #FFD965
$white: #fff
$dark-purple: #422B8F
$very-peri: #616AEB
$almost-black: rgba(56, 55, 55, 1)
html
    width: 100%
    height: 100%
    background: $bg
    font-size: 16px
    font-size: 1.95vh
body
    position: relative
    background-color: $bg
    overflow: hidden
    text-rendering: optimizelegibility
    -webkit-font-smoothing: antialiased
    font-size: 100%
    line-height: 1.31rem
    font-family: 'Proxima Nova', sans-serif
    color: $almost-black

*, :after, :before
    margin: 0
    padding: 0
    border: none
    box-sizing: border-box
    flex-shrink: 0

a, button, p, ul, li
    font: inherit
    color: inherit

img
    width: 100%
    &[data-src]
        opacity: 0
        transition: opacity ease 0.1s
    &.loaded
        opacity: 1
main
    height: 100vh
    width: 100vw
    display: flex
    overflow: hidden

h1, h2
    font-family: 'TT Travels Next', sans-serif
    font-weight: 500
    color: $dark-purple
h1
    font-size: 5.75rem
    line-height: 4.88rem
h2
    font-size: 3.13rem
    line-height: 3rem
.wrap
    display: flex

.checklist
    position: fixed
    right: 15.63rem
    top: 2.19rem
    width: 11.88rem
    height: 2.5rem
    display: flex
    align-items: center
    justify-content: center
    color: $white

    font-family: 'TT Travels Next', sans-serif
    font-weight: 500
    font-size: 0.75rem
    text-decoration: none
    background: $very-peri
    border-radius: 0.88rem
    box-shadow: 0px 3px 20px rgba(19, 30, 183, 0.3)
    z-index: 100
    &__icon
        width: 0.75rem
        height: 1.25rem
        margin-right: 0.38rem

@media screen and ( max-width: 768px )
    html
        font-size: 4.267vw
    body
        overflow: unset
    main
        height: auto
        overflow: unset
    .wrap
        flex-direction: column
        width: 100%
    h1, h2
        font-size: 3.75rem
        line-height: 3.63rem
    .page-cover
        .cover
            display: block
        .header__number
            display: none
        .spines
            height: calc(100% + 2.88rem*4)
    .page-prep
        .prep
            display: block
        .spines
            height: calc(100% + 2.88rem*3)
    .page-donation
        .donation
            display: block
        .spines
            height: calc(100% + 2.88rem*2)
    .page-test
        .test
            display: block
        .spines
            height: calc(100% + 2.88rem*1)
    .page-benefit
        .benefit
            display: block
        .spines
            height: calc(100%)
