$beige: #BBA67B
$bg: #F8F1E6
$white: #fff
$dark-purple: #422B8F
html
    width: 100%
    height: 100%
    background: $bg
    font-size: 16px
    font-size: 1.95vh
body
    background-color: $bg
    overflow: hidden
    text-rendering: optimizelegibility
    -webkit-font-smoothing: antialiased
    font-size: 100%
    font-family: 'Proxima Nova', sans-serif

*, :after, :before
    margin: 0
    padding: 0
    border: none
    box-sizing: border-box
    flex-shrink: 0

a, button 
    font: inherit
    color: inherit

main
    height: 100vh
    width: 100vw
    display: flex
    overflow: hidden

h1, h2
    font-family: 'TT Travels Next', sans-serif
    font-weight: 500
    color: $dark-purple
h1
    font-size: 5.75rem
    line-height: 4.88rem
h2
    font-size: 3.13rem
    line-height: 3rem