
section.section.cover#cover
	.container(data-scroll data-scroll-sticky data-scroll-target="#cover" data-scroll-id='cover-container')
		.section__inner.cover__inner
			.cover__logo 
				img(src=require('../../img/logo.svg'), alt="")
			h1.cover__title Быть донором	
			.cover__text Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem 
