header.header
    .header__spine.spine
        .header__burger
            include ../../img/burger.svg 
        .spine__title.header__title Инфографика х donorsearch
        .header__social
            include ../../img/social.svg