
section( data-spine-section="2")#donation.section.donation

	.container 
		.section__inner.donation__inner
			.section__header 
				h2.section__title.donation__title Что происходит в центре сдачи крови
				.section__subtitle.title.donation__subtitle Вся процедура от входа в центр сдачи крови до выхода из него занимает 1-2 часа.
			.section__body.donation__body