section( data-spine-section="3")#test.section.test

	.container 
		.section__inner.test__inner
			.section__header 
				h2.section__title.test__title Что будут делать с моей кровью
				.section__subtitle.title.test__subtitle Чтобы убедиться, что кровь донора безопасна, каждая сданная доза проходит исследования и карантин
			.section__body.test__body