
section( data-spine-section="1")#section-1.section.prep
	.container 
		.section__inner.prep__inner
			.section__header 
				h2.prep__title Что нужно, чтобы стать донором
				.prep__title Какой центр сдачи крови выбрать, что можно есть накануне и что нужно взять с собой
			.section__body 
				.prep