section( data-spine-section="4")#benefit.section.benefit

	.container 
		.section__inner.benefit__inner
			.section__header 
				h2.section__title.benefit__title Зачем мне быть донором
				.section__subtitle.title.benefit__subtitle Сдача крови полезна не только пациенту, нуждающемуся в переливании, но и самому донору.
			.section__body.benefit__body