.spines
	.spine.init(data-spine-section="1" data-href='prep')
		.spine__title подготовка
		.spine__number 01
	.spine.init(data-spine-section="2" data-href='donation')
		.spine__title Сдача крови
		.spine__number 02
	.spine.init(data-spine-section="3" data-href='test')
		.spine__title Куда идет кровь
		.spine__number 03
	.spine.init(data-spine-section="4" data-href='benefit')
		.spine__title польза для донора
		.spine__number 04