.spines
	.spine.init(data-spine-section="1")
		.spine__title подготовка
		.spine__number 01
	.spine.init(data-spine-section="2")
		.spine__title Сдача крови
		.spine__number 02
	.spine.init(data-spine-section="3")
		.spine__title Куда идет кровь
		.spine__number 03
	.spine.init(data-spine-section="4")
		.spine__title польза для донора
		.spine__number 04