
meta(charset="utf-8")
title TEMPLATE
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#fff")
link(rel="preload" href=require('../../fonts/TT_Travels_Next_Bold.woff2') as="font" type="font/woff2" crossorigin)
link(rel="preload" href=require('../../fonts/TT_Travels_Next_Medium.woff2') as="font" type="font/woff2" crossorigin)