
meta(name="description" content="Кошелек | Лента")
//Twitter Card data
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content="Теперь жду розыгрыша призов. Попробуешь?")
meta(name="twitter:description" content="Кошелек | Лента")
meta(name="twitter:image" content="https://infografika.donorsearch.org/img/og-image.png")

//Open Graph data
meta(property="og:title" content="Теперь жду розыгрыша призов. Попробуешь?")
meta(property="og:type" content="website")
meta(property="og:image:width" content="1200")
meta(property="og:image:height" content="630")
meta(property="og:url" content="https://infografika.donorsearch.org/")
meta(property="og:image" content="https://infografika.donorsearch.org/img/og-image.png")
meta(property="og:description" content="Кошелек | Лента" )
