
meta(name="description" content="Инфографика | Donorsearch.org")

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content="Сложно ли быть донором?")
meta(name="twitter:description" content="Инфографика | Donorsearch.org")
meta(name="twitter:image" content="https://infografika.donorsearch.org/img/og-image.png")

meta(property="og:title" content="Сложно ли быть донором?")
meta(property="og:type" content="website")
meta(property="og:image:width" content="1200")
meta(property="og:image:height" content="630")
meta(property="og:url" content="https://infografika.donorsearch.org/")
meta(property="og:image" content="https://infografika.donorsearch.org/img/og-image.png")
meta(property="og:description" content="Инфографика | Donorsearch.org" )
