
script.

	(function(){
		window.scrollTo( 0, 0 );
		
		const cover = document.querySelector('.cover');
		cover.classList = `section cover cover--stage-0`;
		setTimeout(()=>{
			cover.classList = `section cover cover--stage-1`;
		}, 1500);
	})();
