
script.
	//- document.body.style.overflow = 'hidden';
	(function(){
		window.scrollTo( 0, 0 );
		setTimeout(()=>{
			const cover = document.querySelector('.cover');
			cover.classList = `section cover cover--stage-1`;
		}, 1000);
	})();
