
script.
	//- document.body.style.overflow = 'hidden';
	(function(){
		
	setTimeout(()=>{
		const cover = document.querySelector('.cover');
		
		document.body.style.overflow = '';
		cover.classList = `section cover cover--stage-1`;
	}, 1000);
	})();
